
/*
    Color picker website:  https://imagecolorpicker.com/en
*/
@media(min-height: 500px) {
    body {
        background: #2a2a2a;
        height: fit-content;
        overflow: hidden;
    }
}
@media (max-height: 1902px){
    body {
        background: #2a2a2a;
        height: fit-content;
        overflow: hidden;
    }
}
@media(max-width: 997px){
    .mobile{
        display: block;
    }
}

/**
Photo by <a href="https://unsplash.com/@anasalshanti?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Anas Alshanti</a>
on <a href="https://unsplash.com/@thierryklougbo/likes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  */
.headdiv{
    display: flex;
    flex-direction: column;
    align-items: start;

    overflow: hidden;
}

/**NAVIGATION BAR**/
.navibar{
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin:0;
    padding: 0 0 0 0.5em;
    width: 100%;

}
.linkbar{
    display: flex;
    flex-direction: row;
    justify-content: end;

    margin: 0 0 0 0;
    padding: 0;

    height: 5em;

}
.pageTitle{
    align-self: center;
}

.navitem{
    padding: 22px 15px;
    width: fit-content;
    overflow: hidden;
}
.navitem:hover{
    background-color: red;
}
.navlink{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}






